body {
    margin: 0;
    padding: 20px;
    background-color: #d3d3d3;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    box-shadow: #ff0000;
}

.calculator {
    width: 95%;
    max-width: 350px;
    background: #000000;
    padding: 15px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0 10px 30px rgba(228, 4, 4, 0.4);
}

#display {
    width: 100%;
    height: 65px;
    text-align: right;
    margin-bottom: 15px;
    font-size: 1.15rem;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    color: #ff0000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px 10px;
    cursor: pointer;
    border: none;
    background: #6b6b6b63;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.2s;
}

button:active {
    transform: scale(0.92);
    background: #888;
}

button:hover {
    background: #666;
}

@media (max-width: 360px) {
    button {
        padding: 15px 5px;
    }
}